{
    "branch": ["main"],
    "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-notes-generator",
        [
            "semantic-release-helm",
            {
                "chartPath" :"./app"
            }
        ],
        [
            "@semantic-release/exec",
            {
                "publishCmd": "ls"
            }
        ],
        [
            "@semantic-release/git",
            {
                "assets": [
                    "Chart.yml"
                ]
            }
        ],
        [
            "@semantic-release/github",
            {
                "assets": [
                    "Chart.yml"
                ]
            }
        ]
    ]
}